@charset "UTF-8";

/* -------------------------------------
 *
 * base
 *
------------------------------------- */


body {
  font-size: 16px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  line-height: 1.7;
  color: #6c6c6c;
}
a:link {
  color: #3fb5f2;
  text-decoration: underline;
}
a:visited {
  color: #3fb5f2;
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  color: #3fb5f2;
  text-decoration: none;
}

a {
  transition: opacity .2s;
}
a:hover {
  opacity: .7;
}

p {
  margin: 1em 0 0;
}

label {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}