@charset "UTF-8";

// contents-really-max-width
$contents-really-max-width: 1700px;

// contents-max-width
$contents-max-width: 1200px;



// header-height
$header-height: 105px;

// header-mobile-height
$header-mobile-height: 70px;



// breakpoint-desktop
$breakpoint-desktop: 1024px;

// breakpoint-tablet
$breakpoint-tablet: 768px;

// breakpoint-mobile
$breakpoint-mobile: 640px;

// breakpoint-small-mobile
$breakpoint-small-mobile: 480px;



// webfont
$webfont: 'Patrick Hand', cursive;